@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap');


.card-heading{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Cairo', sans-serif;
}

.counter-count{
    font-size: 90px;
    font-weight: 900;
    font-family: 'Cairo', sans-serif;
}
